<a href="https://colab.research.google.com/github/GabyLeon10100/MujeresDigitales/blob/main/Taller3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asign√°ndole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [1]:
import pandas as pd

In [2]:
#Traemos el archivo "pokemon_data.csv"
from google.colab import files
uploaded = files.upload()

Saving pokemon_data.csv to pokemon_data.csv

In [3]:
#Mostramos el archivo
import io 
df_pokemon = pd.read_csv(io.BytesIO(uploaded['pokemon_data.csv']), sep=",")
df_pokemon.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]

In [5]:
#Creamos el campo "interes", con valor predeterminado como False
df_pokemon['interes'] = False
df_pokemon.head(10)

   #                       Name Type 1  ... Generation  Legendary  interes
0  1                  Bulbasaur  Grass  ...          1      False    False
1  2                    Ivysaur  Grass  ...          1      False    False
2  3                   Venusaur  Grass  ...          1      False    False
3  3      VenusaurMega Venusaur  Grass  ...          1      False    False
4  4                 Charmander   Fire  ...          1      False    False
5  5                 Charmeleon   Fire  ...          1      False    False
6  6                  Charizard   Fire  ...          1      False    False
7  6  CharizardMega Charizard X   Fire  ...          1      False    False
8  6  CharizardMega Charizard Y   Fire  ...          1      False    False
9  7                   Squirtle  Water  ...          1      False    False

[10 rows x 13 columns]

In [7]:
#Recorremos el valor que deseamos para cambiar el valor de interes
#Los campos que se quieren son: Legendary = True y Type = Fire
mask1 = df_pokemon['Type 1'] == "Fire" 
mask2 = df_pokemon['Legendary'] == True
df_final = df_pokemon[mask1&mask2] #Creamos un dataFrame secundaria para obtener los campos que cumplen con ambas condiciones
mask_final = df_final.index #Traemos los indices, para poderlo modificar en el dataframe principal

In [8]:
df_pokemon.loc[mask_final, 'interes'] = True #Realizamos el cambio del valor de interes a true a los campos que deseamos
df_pokemon.head(800)

       #                   Name   Type 1  ... Generation  Legendary  interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]

In [9]:
#Filtramos para validar que si haya realizado los cambios
df_pokemon[df_pokemon['interes'] == True]

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  interes
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un c√≥digo para sacar el promedio de la columna Attack agrupado por Type 1.

In [41]:
#Traemos la lista de los tipos de datos unicas para esa columna
tipos = df_pokemon['Type 1'].unique()
tipos

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [45]:
for i in tipos:
  df_i = df_pokemon.loc[df_pokemon['Type 1'] == i]
df_grass

       #                   Name Type 1  ... Generation  Legendary  interes
0      1              Bulbasaur  Grass  ...          1      False    False
1      2                Ivysaur  Grass  ...          1      False    False
2      3               Venusaur  Grass  ...          1      False    False
3      3  VenusaurMega Venusaur  Grass  ...          1      False    False
48    43                 Oddish  Grass  ...          1      False    False
..   ...                    ...    ...  ...        ...        ...      ...
718  650                Chespin  Grass  ...          6      False    False
719  651              Quilladin  Grass  ...          6      False    False
720  652             Chesnaught  Grass  ...          6      False    False
740  672                 Skiddo  Grass  ...          6      False    False
741  673                 Gogoat  Grass  ...          6      False    False

[70 rows x 13 columns]

In [46]:
#Sacamos el promedio de cada attack por dataframe
print("PROMEDIO DE LOS GRASS")
print(df_grass['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS FIRE")
print(df_fire['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS WATER")
print(df_water['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS BUG")
print(df_bug['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS NORMAL")
print(df_normal['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS POISON")
print(df_poison['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS ELECTRIC")
print(df_electric['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS GROUND")
print(df_ground['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS FAIRY")
print(df_fairy['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS FIGHING")
print(df_fighting['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS PSYCHIC")
print(df_psychic['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS GHOST")
print(df_ghost['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS ROCK")
print(df_rock['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS ICE")
print(df_ice['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS DRAGON")
print(df_dragon['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS DARK")
print(df_dark['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS STEEL")
print(df_steel['Attack'].mean())
print('----------')
print("PROMEDIO DE LOS FLYING")
print(df_grass['Attack'].mean())

PROMEDIO DE LOS GRASS
73.21428571428571
----------
PROMEDIO DE LOS FIRE
84.76923076923077
----------
PROMEDIO DE LOS WATER
74.15178571428571
----------
PROMEDIO DE LOS BUG
70.97101449275362
----------
PROMEDIO DE LOS NORMAL
73.46938775510205
----------
PROMEDIO DE LOS POISON
74.67857142857143
----------
PROMEDIO DE LOS ELECTRIC
69.0909090909091
----------
PROMEDIO DE LOS GROUND
95.75
----------
PROMEDIO DE LOS FAIRY
61.529411764705884
----------
PROMEDIO DE LOS FIGHING
96.77777777777777
----------
PROMEDIO DE LOS PSYCHIC
71.45614035087719
----------
PROMEDIO DE LOS GHOST
73.78125
----------
PROMEDIO DE LOS ROCK
92.86363636363636
----------
PROMEDIO DE LOS ICE
72.75
----------
PROMEDIO DE LOS DRAGON
112.125
----------
PROMEDIO DE LOS DARK
88.38709677419355
----------
PROMEDIO DE LOS STEEL
92.70370370370371
----------
PROMEDIO DE LOS FLYING
73.21428571428571

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31